$primary: #7b77f2;
$secondary: #f27781;

$white-color: #fff;
$gray-color: #f8f9fa;
$black-color: #000;

$font: 'Open-sans', sans-serif;

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ******* RESET ******* */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: $font;
  margin: 0;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: $black-color;
  text-decoration: none;
  transition: color 300ms ease-out;

  &.logo {
    color: $white-color;
    font-size: 1.5rem;

    &:hover {
      color: $primary;
    }
  }
}

footer {
  @include grid-center();
  height: 6vh;
  width: 100%;
  color: $white-color;
  text-align: center;
  background-color: $black-color;
  z-index: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

i {
  cursor: pointer;
  font-size: 3rem;
}

img {
  object-fit: cover;
  height: auto;
}

input {
  border: 1px solid $black-color;
  height: 30px;
  transition: border 300ms ease-out;
  outline: none;
  padding: 1rem;

  &:focus {
    border: 1px solid $secondary;
  }
}

main {
  min-height: 86vh;
}

nav {
  height: 8vh;
  a {
    color: $white-color;
    &:hover {
      color: $primary;
    }
  }
}

select {
  padding: 0.5rem;
  outline: none;
  border: 1px solid $black-color;
  &:focus {
    border: 1px solid $secondary;
  }
}

.active {
  color: $primary;
}

.btn {
  color: $white-color;
  background-color: $secondary;
  transition: background-color 300ms ease-out;

  &:hover {
    color: $white-color;
    background-color: $primary;
  }

  &.active {
    border: none;
    background-color: $primary;
  }

  &.delete {
    padding: 0.3rem;
    font-size: 0.8rem;
    top: -7%;
    right: 0%;
    z-index: 10;
  }

  &.save {
    position: absolute;
    padding: 0.3rem;
    font-size: 0.8rem;
    top: 3%;
    right: 3%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &.auth:hover {
    background-color: $black-color;
  }
}

.wrapper {
  position: relative;
}

.wrapper:hover .btn.save {
  opacity: 1;
}

.camera-icon {
  font-size: 4rem;
  color: $primary;
}

.comment {
  word-wrap: break-word;
  max-width: 25ch;
}

.dark {
  color: $white-color;
  background-color: $black-color;
  transition: background-color 300ms ease-in;
}

.form-container {
  @include grid-center();
  color: $white-color;
  height: 86vh;
  width: 100%;

  form {
    @include flex-center();
    flex-direction: column;
    background-color: $primary;
    height: 75%;
    width: 40%;

    input {
      width: 17rem;
    }
  }
}

.light {
  color: $black-color;
  background-color: $white-color;
  transition: background-color 300ms ease-in;
}

.like-icon {
  color: $primary;
}

.loader-container {
  height: 100vh;
}

.no-results {
  min-height: 84vh;
  @include flex-center();
  flex-direction: column;

  & > a {
    color: $primary;
  }
}

.opacity {
  opacity: 0.6;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.profile-background {
  background: rgb(123, 119, 242);
  background: linear-gradient(
    90deg,
    rgba(123, 119, 242, 1) 30%,
    rgba(240, 119, 131, 1) 97%,
    rgba(242, 119, 129, 1) 90%
  );
  background: rgb(123, 119, 242);
  background: linear-gradient(
    149deg,
    rgba(123, 119, 242, 1) 30%,
    rgba(240, 119, 131, 1) 90%,
    rgba(242, 119, 129, 1) 98%
  );
  height: 18vh;
}

.sign-in {
  min-height: 84vh;
  @include grid-center();

  &::before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5)),
      url('https://images.unsplash.com/photo-1559854036-2409f22a918a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80')
        no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -100;
  }
}

.theme-btn {
  @include flex-center();
  position: fixed;
  bottom: 4vh;
  left: 4vw;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $primary;
  z-index: 989;
  transition: background-color 300ms ease-in;
  width: 3rem;
  padding: 0.7rem;

  &:hover {
    background-color: $secondary;
  }
}

.upload-container {
  @include grid-center();
  cursor: pointer;
  height: 55vh;

  &:hover {
    border: 1px dashed $black-color;
  }
}

/* ***** MEDIA QUERIES ***** */
@media screen and (max-width: 542px) {
  a.logo {
    font-size: 1.1rem;
  }

  main {
    min-height: 84vh;
  }

  nav {
    height: 10vh;
  }

  .avatar,
  .profile-image {
    height: 30px;
    width: 30px;
  }

  .btn {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  .comment {
    max-width: 11ch;
  }
}

@media screen and (max-width: 768px) {
  .avatar,
  .profile-image {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 880px) {
  .form-container form {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .posts article {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1200px) {
  .comment {
    width: 20ch;
  }
}

/* ******* HAMBURGER MENU ******* */
.hamburger {
  position: fixed;
  bottom: 2vh;
  right: 4vw;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  z-index: 999;

  &:hover {
    background-color: transparent;
  }
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: $primary;
  margin: 6px 0px;
  transition: 400ms;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.open-menu {
  @include flex-center();
  flex-direction: column;
  position: fixed;
  bottom: 9%;
  right: 5%;
  width: 200px;
  height: 240px;
  background-color: $primary;
  pointer-events: all;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  z-index: 100;
}

.closed-menu {
  @include flex-center();
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 240px;
  background-color: $primary;
  pointer-events: none;
  z-index: 100;
  opacity: 0;
}

/* ***** LOADER ***** */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $primary;
  border-color: $primary transparent $primary transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
